# Python
backend/venv/
__pycache__/
*.pyc

# Environment
.env
backend/.env

# React
frontend/node_modules/

# Vite
frontend/dist/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Logs
*.log

#sqlite
backend/db.sqlite3